.header {
    background-color: CornflowerBlue;
    align: text-align;
  }
  .about-me {
    font-size: 20px;
    opacity: 0.5;
  }
  .title {
    font-weight: bold;
    color: Azure;
  }
  body {
    fony-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  }
  