body{
    background-color: #ffcc00!important;
    color:#626262;
    font-size:14px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar{
    width: 952px;
}

/* header*/
header{
    width: 952px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffcc00;
}

.nav-social{
    display: flex;
    align-items: flex-end!important;
    background-color: #ffcc00!important;
}

.nav-social div{
    font-size:17px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
    opacity: 0.8;
    transition: 0.5s;
}

.nav-social i {
    color: #ffcc16;
    background-color: black;
    border-radius: 50px 50px;
    font-size: 16px;
    
} 

.nav-social i:hover{
    transition: 0.15s;
    color:#353535;
    font-size:17px;
    opacity: 0.8;
}

.dropdown {
    margin-left: 24px;
    background-color: rgb(255, 255, 255);
    width: 930px;
}

.dropdown button{
    background-color: #353535;
    color: white;
    font-size: 12px;
}

.item-list{
    display: flex;
    flex-direction: row;
    
}